/*菜单栏被选中项背景色*/
.aw-side .active, .aw-side ul li a.active:hover {
    background-color: #2b77a8;
}

/*鼠标移动到菜单栏显示和隐藏切换按钮上样式*/
.mod-head-btn {
    cursor: pointer;
}

/*右下角查看日志按钮*/
.open-log-btn {
    position: fixed;
    right: 20px;
    bottom: 30px;
    background-color: #393D49;
    width: 40px;
    height: 40px;
    border-radius: 30px;
    border-color: transparent;
    cursor: pointer;
}
.open-log-btn i {
    width: 25px;
    height: 25px;
    display: inline-block;
    font-size: 25px;
    color: #ffffff;
    background-color: #393D49;
}
.open-log-btn:hover {
    opacity: 0.8;
}

.layui-table {
    margin-bottom: 100px !important;
}