<{extends file="layout.html"}>
<{block name="myStyles"}>
<style type="text/css">
    .aw-content-wrap .icon {
        background-color: #393D49;
        margin-right: 10px;
    }

    .layui-table thead th{
        text-align: center;
        font-weight: bold;
    }

    .add-category-box {
        background-color: rgba(0,0,0,0.7);
        width: 100%;
        height: 1000px;
        margin: 0 auto;
        position: fixed;
        left: 0;
        top: 0;
        z-index: 500;
        display: none;
    }

    .add-category-container {
        width: 420px;
        height: 220px;
        background-color: #FFF;
        /*margin: 300px auto;*/
        padding: 10px;
        border-radius: 2px;
        position: relative;
    }

    .layui-field-title{
        width: 400px;
    }

    .layui-input-inline .layui-btn {
        color: #cdcdcd
    }

    .btns-box {
        width: 146px;
        position: absolute;
        right: 10px;
        bottom: 20px;
    }

    .btns-box .confirm-btn{
        background-color: #393D49;
    }

</style>
<{/block}>
<{block name="scriptCode"}>
<script>
    $(document).ready(function () {
        // 设置边栏服务器信息选中状态
        $("#my_driver").addClass("active");

        // 请求云盘列表
        loadDriverList();
    });

    // 请求云盘列表
    function loadDriverList() {
        var url = "?m=admin&c=API_MyDriver&a=loadDriverList&API=";
        get(url,function (data) {
            // 创建云盘列表
            createDriverDoms(data.data);
        });
    }

    // 创建云盘列表
    function createDriverDoms(data) {
        var dom = "";
        for(var i = 0; i < data.length; i++){
            var driver = data[i];
            dom += '<tr mouseRgihtData="'+ driver["name"] +'"><td>'+ driver["name"] +'</td>';
            dom += '<td>'+ driver["type"] +'</td>';
            dom += '<td>'+ driver["size"] +'</td>';
            dom += '<td>'+ driver["count"] +'</td>';
            dom += '<td>'+ driver["remark"] +'</td></tr>';
        }

        // 添加分类一行
        $("tbody").html(dom);

        // 添加右键菜单
        var menu_data=[
            {'type':1,'icon':'icon-zhongmingming','title':'重命名'},
            {'type':2,'icon':'icon-beizhu','title':'添加/修改备注'},
            {'type':3,'icon':'icon-xiangqing','title':'获取大小和文件数'},
            {'type':4,'icon':'icon-icon_del','title':'删除'},
        ];
        mouseRightMenuInit($(".layui-table tbody tr"),menu_data,function (menuData) {
            var opeType = menuData.type;
            var driveName = menuData.data.content;
            console.log("type:" + typeof(opeType));
            switch (opeType) {
                case 1:
                    // 重命名
                case 2:
                    // 添加/修改备注
                    showEditCover(opeType);
                    break;
                case 3:
                    // 获取大小和文件数

                    break;
                case 4:
                    // 删除
                    deleteDriver(driveName);
                    break;
            }
        });
    }

    // 显示编辑界面
    function showEditCover(type) {
        if (type == 1){
            // 重命名
            $("#legend_title").text("重命名");
            $("#new_name_input").css("display","block");
            $("#remark_area").css("display","none");
        }else {
            // 添加/修改备注
            $("#legend_title").text("添加/修改备注");
            $("#new_name_input").css("display","none");
            $("#remark_area").css("display","block");
        }
        $(".add-category-container").css("display","block");
        layui.use('layer',function () {
            var layer = layui.layer;
            layer.open({
                type: 1,
                area:['420px','220px'],
                title: false,
                closeBtn: 0,
                shadeClose: true,
                content: $(".add-category-container")
            });
        });
    }

    // 删除云盘
    function deleteDriver(driveName) {
        confirmAlert(function () {
            var url = baseUrl + "?m=admin&c=API_MyDriver&a=deleteDrive&name=" + driveName + "&API=";
            get(url,function () {
                // 刷新列表
                loadDriverList();
            },true,true);
        });
    }

    // 重命名
    function renameDriver(driveName) {
        console.log("重命名:" + driveName);
    }

</script>
<{/block}>
<{block name="content"}>
<div class="aw-content-wrap">
    <div class="mod">
        <div class="layui-form" style="text-align: center;">
            <table class="layui-table">
                <colgroup>
                    <col width="150">
                    <col width="150">
                    <col width="150">
                    <col width="150">
                    <col >
                </colgroup>
                <thead>
                <tr>
                    <th>名称</th>
                    <th>类型</th>
                    <th>大小</th>
                    <th>文件总数</th>
                    <th>备注</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!--添加分类浮层-->
<!--<div class="add-category-box">-->
<!--    -->
<!--</div>-->
<div class="add-category-container">
    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
        <legend id="legend_title">重命名</legend>
    </fieldset>
    <input id="new_name_input" type="text" lay-verify="required" placeholder="请输入名称" autocomplete="off" class="layui-input">
    <textarea id="remark_area" style="resize: none;height: 150px"  placeholder="请输入备注信息" class="layui-textarea"></textarea>

    <!--确定/取消按钮-->
    <div class="btns-box">
        <button onclick="cancel()" type="button" class="layui-btn layui-btn-primary">取消</button>
        <button onclick="confirm()" type="button" class="layui-btn confirm-btn">确认</button>
    </div>
    <!--选择图片上传-->
    <input type="file" name="file" id="file_select_input" style="display:none">
</div>
<{/block}>
