<{extends file="layout.html"}>
<{block name="myStyles"}>
<style type="text/css">
    .layui-table thead th{
        text-align: center;
        font-weight: bold;
    }

    .select-box .layui-form-select {
        width: 150px;
        display: inline-block;
    }

    .back-btn {
        background-color: #393D49;
        text-align: center;
        padding: 0 10px;
        height: 30px;
        line-height: 30px;
        display: inline-block;
        margin-top: -8px;
    }

    .layui-btn-disabled {
        background-color: #FBFBFB;
    }

    .layui-table thead th{
        font-weight: bold;
        text-align: left;
    }

    .layui-table tbody tr{
        text-align: left;
    }

    .moveto-title {
        display: inline-block;
        height: 40px;
        line-height: 40px;
        font-size: 16px;
        font-weight: 300;
        margin: 0 0 10px 10px;
    }

    .add-category-container {
        width: 800px;
        height: 630px;
        background-color: #FFF;
        padding: 10px;
        border-radius: 2px;
        position: relative;
        display: none;
    }

    .cover-title{
        font-size: 20px;
        margin: 20px 10px;
    }

    .layui-input-inline .layui-btn {
        color: #cdcdcd
    }

    .btns-box {
        width: 146px;
        position: absolute;
        right: 10px;
        bottom: 20px;
    }

    .btns-box .confirm-btn{
        background-color: #393D49;
    }


    /*右下角添加分类/平台/账号/密码按钮*/
    .add-btn {
        position: fixed;
        right: 70px;
        bottom: 30px;
        background-color: #393D49;
        width: 40px;
        height: 40px;
        border-radius: 30px;
        border-color: transparent;
        cursor: pointer;
    }
    .add-btn img {
        width: 20px;
        height: 20px;
    }
    .add-btn:hover {
        opacity: 0.8;
    }

    .list-title {
        text-align: left;
    }

    .layui-form-item .layui-input-inline{
        width: 650px;
    }

    .des-dir-list {
        width: 800px;
        height: 400px;
        overflow-x: hidden;
        overflow-y: auto;
    }

    .file-icon {
        font-size: 20px;
        height: 20px;
        width: 20px;
    }

    .file-name {
        display: inline-block;
        height: 30px;
        line-height: 30px;
        margin-left: 10px;
        max-width: 320px;
        overflow-x: scroll;
        overflow-y: hidden;
        white-space:nowrap;
        vertical-align: bottom;
        scrollbar-width: none; /* firefox */
        -ms-overflow-style: none; /* IE 10+ */
    }

    .file-name::-webkit-scrollbar {
        display: none; /* Chrome Safari */
    }

    .layui-form-select dl dd.layui-this {
        background-color: #393D49;
    }

    .path-box {
        margin-top: 15px;
        margin-bottom: 0;
    }

    .path-in-box {
        display: inline-block;
        background-color: red;

    }

</style>
<{/block}>
<{block name="scriptCode"}>
<script>
    // 添加同步的类型
    var syncType; // 1: 本地同步 0:云盘同步
    // 云盘列表数据
    var driverList;
    var defaultSelectDriverType = "谷歌云盘";
    var defaultSelectDriver = "GDSuite";
    // 选择的源路径云盘类型
    var srcDriveType;
    // 选择的源路径云盘
    var srcDrive;
    // 选择的目标路径云盘类型
    var desDriveType;
    // 选择的目标路径云盘
    var desDrive;
    // 源路径存储
    var srcPathArray = [""];
    // 目标路径存储
    var desPathArray = [""];

    var editRow;
    var driverData = {};
    $(document).ready(function () {
        // 设置边栏服务器信息选中状态
        $("#file_sync").addClass("active");

        // 监听select选择变化
        layui.use(['form','element','table'],function () {
            var form = layui.form,
                element = layui.element,
                table = layui.table;


            // 监听源云盘类型选择
            form.on('select(src-drive-type-list)', function(data){
                // 选择的云盘类型
                srcDriveType = data.value;

                if (srcDriveType.length > 0){
                    // 刷新云盘列表
                    createDriverSelectDoms(false);
                }
            });

            // 监听目标云盘类型选择
            form.on('select(des-drive-type-list)', function(data){
                // 选择的云盘类型
                desDriveType = data.value;

                if (desDriveType.length > 0){
                    // 刷新云盘列表
                    createDriverSelectDoms();
                }
            });


            // 监听源云盘选择
            form.on('select(src-drive-list)', function(data){
                // 选择的云盘
                srcDrive = data.value;
                if (srcDrive.length > 0){
                    // 目录回到根目录
                    srcPathArray = [""];
                    // 刷新列表
                    loadDriveDirList(false);
                }
            });

            // 监听目标云盘选择
            form.on('select(des-drive-list)', function(data){
                // 选择的云盘
                desDrive = data.value;
                if (desDrive.length > 0){
                    // 目录回到根目录
                    desPathArray = [""];
                    // 刷新列表
                    loadDriveDirList();
                }
            });
        });

        // 请求同步列表
        // loadFileSyncList();
    });

    // 请求同步列表
    function loadFileSyncList() {
        var url = "?m=admin&c=API_FileSync&a=loadFileSyncList&API=";
        get(url,function (data) {
            // 创建同步列表
            createSyncListDoms(data.data);
        },true,false,1000000);
    }

    // 创建同步列表
    function createSyncListDoms(data) {
        var dom = "";
        for(var i = 0; i < data.length; i++){
            var syncsData = data[i];
            var syncId = syncsData["id"];
            dom += '<tr syncId="'+ syncId +'" ><td>'+ syncsData["typeStr"] +'</td>';
            dom += '<td><div class="source-path">'+ syncsData["source_path"] +'</div></td>';
            dom += '<td><div class="des-path">'+ syncsData["des_path"] +'</div></td>';
            dom += '<td>'+ syncsData["statusStr"] +'</td></tr>';
        }

        // 添加分类一行
        $("tbody").html(dom);

        // 添加右键菜单
        var menu_data=[
            {'type':1,'icon':'icon-zhongmingming','title':'编辑'},
            {'type':2,'icon':'icon-beizhu','title':'同步'},
            {'type':3,'icon':'icon-icon_del','title':'删除'}
        ];
        mouseRightMenuInit($(".layui-table tbody tr"),menu_data,function (menuData) {
            var opeType = menuData.type;
            switch (opeType) {
                case 1:
                    // 编辑

                case 2:
                    // 同步
                    showEditCover(opeType);
                    break;
                case 3:
                    // 删除
                    loadDriverInfo();
                    break;
            }
        },function (obj) {
            editRow = obj;
            editDriverName = obj.attr('driverName');
        });
    }

    // 请求云盘列表
    function loadDriverList(success=null) {
        var url = "?m=admin&c=API_FileManager&a=loadDriverList&API=";
        showHud();
        get(url,function (data) {
            driverList = data.data;

            // 默认选择的云盘类型
            srcDriveType = defaultSelectDriverType;
            desDriveType = defaultSelectDriverType;

            // 默认选择的云盘
            srcDrive = defaultSelectDriver;
            desDrive = defaultSelectDriver;

            if (success){
                success();
            }
        },false);
    }

    // 创建云盘类型选择列表
    function createDriverTypeSelectDoms(des=true) {
        var dom = '<option value="">选择云盘类型</option>';
        var driverTypes = Object.keys(driverList);

        var selectDType = des ? desDriveType : srcDriveType;
        for(var i = 0; i < driverTypes.length; i++){
            var driverT = driverTypes[i];
            if (selectDType == driverT){
                dom += '<option selected="selected" value="'+ driverT +'">'+ driverT +'</option>';
            }else {
                dom += '<option value="'+ driverT +'">'+ driverT +'</option>';
            }
        }

        layui.use('form',function () {
            var form = layui.form;
            if (des){
                $("#des_drive_type_select").html(dom);
            }else {
                $("#src_drive_type_select").html(dom);
            }
            form.render();
        });
    }

    // 创建云盘选择列表
    function createDriverSelectDoms(des=true) {
        var dom = '<option value="">选择云盘</option>';
        var seDriverType = des ? desDriveType : srcDriveType;
        var seDriver = des ? desDrive : srcDrive;

        var drives = driverList[seDriverType];
        for(var i = 0; i < drives.length; i++){
            var driver = drives[i];
            if (seDriver == driver){
                dom += '<option selected="selected" value="'+ driver +'">'+ driver +'</option>';
            }else {
                dom += '<option value="'+ driver +'">'+ driver +'</option>';
            }
        }

        layui.use('form',function () {
            var form = layui.form;
            if (des){
                $("#des_drive_select").html(dom);
            }else {
                $("#src_drive_select").html(dom);
            }
            form.render();
        });
    }

    // 请求文件夹列表
    function loadDriveDirList(des=true,success=null) {
        var drive = des ? desDrive : srcDrive;
        var pathArray = des ? desPathArray : srcPathArray;

        var url = "?m=admin&c=API_FileManager&a=loadMoveDirList&API=&remoteName=" + drive + "&path=" + btoa(encodeURIComponent(getPathString(pathArray)));
        console.log("获取文件夹列表:" + url);
        get(url,function (data) {
            var dirList = data.data;
            createDriveDirDoms(dirList,des);
            if (success){
                success();
            }
        },true,false,500000);
    }

    // 创建文件夹列表dom
    function createDriveDirDoms(data,des=true) {
        var dom = "";
        var desFlag = des ? "1" : "0";
        for(var i = 0; i < data.length; i++){
            var file = data[i];
            var style = 'cursor: pointer';
            dom += '<tr desFlag="'+ desFlag +'" fileName="'+ file["Name"] +'" ><td><i class="file-icon iconfont '+ file["icon"] +'"></i>';
            dom += '<div desFlag="'+ desFlag +'" fileName="'+ file["Name"] +'" onclick="openDir(this)" class="file-name" style="'+ style +'">'+ file["Name"] +'</div></td></tr>';
        }

        if (des){
            $("#des_dir_list_table tbody").html(dom);
            // 绑定双击事件
            $('#des_dir_list_table tbody tr').dblclick(function () {
                openDir(this);
            });
        }else {
            $("#src_dir_list_table tbody").html(dom);
            // 绑定双击事件
            $('#src_dir_list_table tbody tr').dblclick(function () {
                openDir(this);
            });
        }

        // 更新路径显示
        updatePathUI(des);
    }

    // 更新路径显示
    function updatePathUI(des=true) {
        var pathArray = des ? desPathArray : srcPathArray;
        // 判断返回上一级目录是否可以点击
        var canBack = pathArray.length >= 2 ? true : false;
        var $backBtn = des ? $("#des_back_btn") : $("#src_back_btn");
        if (canBack){
            // 可以返回
            $backBtn.removeClass("layui-btn-disabled");
        }else {
            // 不可以返回
            $backBtn.addClass("layui-btn-disabled");
        }
        // 创建路径显示dom
        var dom = "";
        var desFlag = des ? "1" : "0";
        for (var i = 0; i < pathArray.length; i ++){
            var path = pathArray[i];
            if (i == 0 && path == ""){
                path = "根目录";
            }

            if (i == pathArray.length - 1){
                // 最后一个
                dom += '<a desFlag="'+ desFlag +'" dirIndex="'+ i +'" href="javascript:;" onclick="pathDirClicked(this)"><cite>'+ path +'</cite></a>';
            }else {
                // 不是最后一个
                dom += '<a desFlag="'+ desFlag +'" dirIndex="'+ i +'" href="javascript:;" onclick="pathDirClicked(this)">'+ path +'</a>';
                dom += '<span lay-separator="">/</span>';
            }
        }

        if (des){
            $("#des_cur_dir").html(dom);
        }else {
            $("#src_cur_dir").html(dom);
        }
    }


    // 获取目录路径
    function getPathString(array=srcPathArray) {
        return array.join("/") + "/";
    }

    // 打开移动文件选择目录
    function openDir(obj) {
        var $this = $(obj);
        var dirName = $this.attr('fileName');
        var desFlag = $this.attr("desFlag");
        var pathArray = desFlag == "1" ? desPathArray : srcPathArray;
        // 目标目录名进栈
        pathArray.push(dirName);
        // 刷新目录列表
        loadDriveDirList(desFlag == "1" ? true : false);
    }

    // 返回到指定文件夹下
    function pathDirClicked(obj) {
        var $this = $(obj);
        var dirIndex = parseInt($this.attr('dirIndex'));
        var desFlag = $this.attr("desFlag") == "1" ? true : false;
        var pathArray = desFlag ? desPathArray : srcPathArray;
        if (dirIndex == 0){
            // 回到根目录
            if (desFlag){
                desPathArray = [""];
            }else {
                srcPathArray = [""];
            }
        }else {
            var newPathArray = [""];
            for (var i = 1; i <= dirIndex; i++){
                var p = pathArray[i];
                newPathArray.push(p);
            }
            if (desFlag){
                desPathArray = newPathArray;
            }else {
                srcPathArray = newPathArray;
            }
        }

        // 刷新文件夹列表
        loadDriveDirList(desFlag);
    }

    // 隐藏编辑界面
    function hideEditCover(){
        // 关闭浮层
        layui.use('layer', function() {
            var layer = layui.layer;
            layer.close(layerIndex);
        });
    }

    // 确认
    function confirm() {
        if (syncType == "1"){
            // 本地同步
            if (localPath.length == 0){
                toast("请输入本地路径");
            }else {
                // 同步请求
                syncInfoUpdate();
                hideEditCover();
            }
        }else {
            // 主管理员
            var mainAdmin = $("#main_admin").val();
            // 成员数
            var memberCount = $("#member_count").val();
            // 备注
            var remark = $("#drive_remark").val();
            modifyDriveInfo(mainAdmin,memberCount,remark);
            hideEditCover();
        }
    }

    // 添加/修改同步信息网络请求
    function syncInfoUpdate() {
        // 源路径
        var srcPath = syncType == "1" ? btoa(encodeURIComponent($('#local_path').val())) : btoa(encodeURIComponent(getPathString(srcPathArray)));
        // 目标路径
        var desPath = btoa(encodeURIComponent(getPathString(desPathArray)));
        var url = baseUrl + "?m=admin&c=API_FileSync&a=updateSyncInfo"
            + "&type=" + syncType
            + "&srcPath=" + srcPath;
    }

    // 取消
    function cancel() {
        hideEditCover();
    }
    
    // 添加同步信息
    function addSync() {
        var btns = [{
            title:"本地同步",
            func: function(){
                syncType = "1";
                showEditCover();
            }
        },{
            title:"云盘同步",
            func: function () {
                syncType = "0";
                showEditCover();
            }
        },{
            title:"取消",
            func: function () {
            }
        }];
        showAlert("选择同步类型",btns);
    }

    // 源目录返回上一级目录
    function backSrcDir() {
        if (srcPathArray.length == 1) return;
        // 目录名出栈
        srcPathArray.pop();
        // 刷新文件列表
        loadDriveDirList(false);
    }

    // 目标目录返回上一级目录
    function backDesDir() {
        if (desPathArray.length == 1) return;
        // 目录名出栈
        desPathArray.pop();
        // 刷新文件列表
        loadDriveDirList();
    }

    // 源目录返回上一级目录
    function backSrcDir() {
        if (srcPathArray.length == 1) return;
        // 目录名出栈
        srcPathArray.pop();
        // 刷新文件列表
        loadDriveDirList(false);
    }

    // 显示编辑界面
    function showEditCover() {
        // 加载云盘信息
        loadDriverList(function () {
            if (syncType == 0){
                // 创建云盘类型选择列表
                createDriverTypeSelectDoms();
                createDriverTypeSelectDoms(false);
                // 创建云盘选择列表
                createDriverSelectDoms();
                createDriverSelectDoms(false);
                // 请求文件夹列表
                loadDriveDirList();
                loadDriveDirList(false);

                // 云盘同步
                $("#cover_title").text("添加云盘同步");
                $("#local_path_form").css("display","none");
                $(".select-src-drive-dir-box").css("display","inline-block");
                $(".select-des-drive-dir-box").css("display","inline-block");
                $(".select-src-drive-dir-box").css("width","390px");
                $(".select-des-drive-dir-box").css("width","390px");
                $(".des-dir-list").css("margin-top","-23px");
                $(".des-dir-list").css("width","390px");
            }else {
                // 添加本地同步
                $("#cover_title").text("添加本地同步");
                $(".add-category-container .layui-form").css("display","block");
                $(".select-src-drive-dir-box").css("display","none");

                // var currentDriver = driverData[editDriverName];
                // $("#drive_name").val(editDriverName);
            }
            $(".add-category-container").css("display","block");
            layui.use('layer',function () {
                var layer = layui.layer;
                layerIndex = layer.open({
                    type: 1,
                    area:['820px','650px'],
                    title: false,
                    offset:'120px',
                    closeBtn: 0,
                    shadeClose: true,
                    content: $(".add-category-container"),
                    success: function(){

                    },
                    end:function () {
                        $(".add-category-container").css("display","none");
                    }
                });
            });
        });
    }

</script>
<{/block}>
<{block name="content"}>
<div class="aw-content-wrap">
    <div class="layui-form" style="text-align: center;">
        <fieldset class="layui-elem-field layui-field-title list-title" style="margin-top: 20px;">
            <legend>同步列表</legend>
        </fieldset>
        <table class="layui-table">
            <colgroup>
                <col width="150">
                <col width="150">
                <col width="150">
                <col width="150">
            </colgroup>
            <thead>
            <tr>
                <th>同步类型</th>
                <th>源路径</th>
                <th>目标路径</th>
                <th>同步状态</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>

<!--浮层弹窗-->
<div class="add-category-container">
    <p class="cover-title" id="cover_title">添加同步</p>
    <form id="local_path_form" class="layui-form layui-form-pane" action="">
        <div class="layui-form-item">
            <label class="layui-form-label">源目录</label>
            <div class="layui-input-inline">
                <input id="local_path" placeholder="输入本地路径" type="text" lay-verify="required" autocomplete="off" class="layui-input drive-name-input">
            </div>
        </div>
    </form>

    <div class="select-src-drive-dir-box">
        <div class="moveto-title-box">
            <span class="moveto-title moveto-span">选择源目录</span>
            </span>
        </div>
        <form class="layui-form layui-form-pane" action="">
            <div class="layui-form-item select-box">
                <select id="src_drive_type_select" lay-filter="des-drive-type-list">
                    <option value="">选择云盘类型</option>
                </select>
                <select id="src_drive_select" lay-filter="des-drive-list">
                    <option value="">选择云盘</option>
                </select>
                <div class="path-box">
                    <button id="src_back_btn" onclick="backSrcDir()" type="button" class="layui-btn back-btn layui-btn-disabled"><i class="layui-icon layui-icon-return"></i></button>
                    <div class="path-in-box">
                        <span id="src_cur_dir" class="layui-breadcrumb">
                        </span>
                    </div>
                </div>
            </div>
        </form>
        <div id="src_dir_list" class="des-dir-list">
            <table id="src_dir_list_table" class="layui-table" lay-skin="nob">
                <colgroup>
                    <col width="150">
                </colgroup>
                <thead>
                <tr>
                    <th>目录名</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>

    <div class="select-des-drive-dir-box">
        <div class="moveto-title-box">
            <span class="moveto-title moveto-span">选择目标目录</span>
        </span>
        </div>
        <form class="layui-form layui-form-pane" action="">
            <div class="layui-form-item select-box">
                <select id="des_drive_type_select" lay-filter="des-drive-type-list">
                    <option value="">选择云盘类型</option>
                </select>
                <select id="des_drive_select" lay-filter="des-drive-list">
                    <option value="">选择云盘</option>
                </select>
                <div class="path-box">
                    <button id="des_back_btn" onclick="backDesDir()" type="button" class="layui-btn back-btn layui-btn-disabled"><i class="layui-icon layui-icon-return"></i></button>
                    <span id="des_cur_dir" class="layui-breadcrumb">
                </span>
                </div>
            </div>
        </form>
        <div id="des_dir_list" class="des-dir-list">
            <table id="des_dir_list_table" class="layui-table" lay-skin="nob">
                <colgroup>
                    <col width="150">
                </colgroup>
                <thead>
                <tr>
                    <th>目录名</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>

    <!--确定/取消按钮-->
    <div class="btns-box">
        <button onclick="cancel()" type="button" class="layui-btn layui-btn-primary">取消</button>
        <button onclick="confirm()" type="button" class="layui-btn confirm-btn">确认</button>
    </div>
</div>

<!--添加按钮-->
<button type="button" class="add-btn" onclick="addSync()">
    <img src="<{$data.imageUrl}>add.png">
</button>
<{/block}>
