<{extends file="fileListBase.html"}>
<{block name="mySubStyles"}>
<style type="text/css">
    .share-address-input {
        width: 600px;
        display: inline-block;
    }

    .file-transfer-box {
        display: inline-block;
    }
</style>
<{/block}>
<{block name="subScriptCode"}>
<script>
    var shareAddress;
    $(document).ready(function () {
        // 设置边栏服务器信息选中状态
        $("#file_transferred").addClass("active");

        // 默认选择的云盘
        defaultSelectDriverType = "谷歌云盘";
        defaultSelectDriver = "GDSuiteTeam";

        // 监听select选择变化
        layui.use(['form','element','tree'],function () {
            var form = layui.form,
                element = layui.element;

            // 监听共享资源地址输入
            var shareAddressInput = $("#share_address_input");
            shareAddressInput.bind("input propertychange", function (event) {
                shareAddress = shareAddressInput.val();
                // 更新转存按钮状态
                updateTransferBtnStatus();
            });
        });
    });

    // 检查是否有文件正在转存
    function checkTransferStatus() {
        var url = baseUrl + "?m=admin&c=API_FileTransfer&a=fileTransfering";
        get(url,function (data) {
            if (data.flag){
                console.log("有文件正在转存");
                $("#file_transfering_flag").css("display","block");
            }else {
                console.log("没有有文件正在转存");
                $("#file_transfering_flag").css("display","none");
            }
        },false);
    }

    // 更新转存按钮状态
    function updateTransferBtnStatus() {
        var transferBtn = $(".transfer-btn");
        if (shareAddress.length > 0){
            transferBtn.removeClass("layui-btn-disabled");
        }else {
            transferBtn.addClass("layui-btn-disabled");
        }
    }
    
    // 转存文件
    function transferShareFile(obj) {
        var $this = $(obj);
        if ($this.hasClass("layui-btn-disabled")) return;
        showEditCover(3);
    }

    // 保存共享的文件
    function saveShareFile(newDirName) {
        if (selectDrive.length == 0) {
            toast("请选择云盘");
            return;
        }
        if (newDirName.length > 0){
            // 新建文件夹
            var url = baseUrl + "?m=admin&c=API_FileManager&a=createNewDir&driverName=" + selectDrive + "&API=&path=" + btoa(encodeURIComponent(getPathString())) + "&dirName=" + btoa(encodeURIComponent(newDirName));
            console.log("转存文件前新建文件夹:" + url);
            showHud();
            get(url,function () {
                // 保存文件
                saveShareFile1(newDirName);
            });
        }else {
            // 保存文件
            saveShareFile1(newDirName);
        }
    }

    // 保存文件网络请求
    function saveShareFile1(newDirName) {
        // 保存文件
        var url = baseUrl + "?m=admin&c=API_FileTransfer&a=fileTransfer&address=" + $("#share_address_input").val() + "&path=" + btoa(encodeURIComponent(getPathString())) + "&driverName=" + selectDrive;
        if (newDirName.length > 0) {
            url = url + "&dirName=" +btoa(encodeURIComponent(newDirName));
        }
        console.log("转存文件:" + url);
        get(url,function () {
            hideEditCover();
            if (newDirName.length > 0){
                loadFileList();
            }
            // 检查是否正在转存文件
            fileTransfering();
        },true,true);
    }

    // 检查是否正在转存文件
    function fileTransfering() {
        var url = baseUrl + "?m=admin&c=API_FileTransfer&a=fileTransfering";
        get(url,function (data) {
            var res = data.data.flag;
            if (res){
                $("#file_transfering_flag").css("display","inline-block");
            }else {
                $("#file_transfering_flag").css("display","none");
            }
        },false);
    }
    
    // 复位标志位
    function resetTransferFlag() {
        var url = baseUrl + "?m=admin&c=API_FileTransfer&a=resetTransferFlag";
        get(url,function () {
            fileTransfering();
        },false);
    }

</script>
<{/block}>
