<{extends file="layout.html"}>
<{block name="myStyles"}>
<style type="text/css">
    .aw-content-wrap .icon {
        background-color: #393D49;
        margin-right: 10px;
    }

    .layui-table thead th{
        font-weight: bold;
    }

    .layui-table tbody tr{
        text-align: left;
    }

    .add-category-container {
        width: 420px;
        height: 180px;
        background-color: #FFF;
        padding: 10px;
        border-radius: 2px;
        position: relative;
        display: none;
    }

    .layui-field-title{
        width: 430px;
    }

    .layui-input-inline .layui-btn {
        color: #cdcdcd
    }

    .btns-box {
        width: 146px;
        position: absolute;
        right: 10px;
        bottom: 20px;
    }

    .btns-box .confirm-btn{
        background-color: #393D49;
    }

    .layui-form-select dl dd.layui-this {
        background-color: #393D49;
    }

    .select-box .layui-form-select {
        width: 150px;
        display: inline-block;
    }

    .file-name {
        display: inline-block;
        height: 30px;
        line-height: 30px;
        margin-left: 10px;
    }

    .file-icon {
        font-size: 20px;
        height: 20px;
        width: 20px;
    }

    .layui-breadcrumb {
        vertical-align: bottom;
    }

    .layui-breadcrumb>* {
        font-size: 14px;
    }

    .layui-breadcrumb span[lay-separator] {
        margin: 0 5px;
    }

    .layui-breadcrumb a {
        color: #cccccc!important;
    }

    .layui-breadcrumb a:hover {
        -webkit-transition: all 220ms ease-in-out;
        -moz-transition: all 220ms ease-in-out;
        -o-transition: all 220ms ease-in-out;
        transition: all 220ms ease-in-out;
        color: #393D49!important;
    }

    cite {
        cursor: default;
    }

    .back-btn {
        background-color: #393D49;
        text-align: center;
        padding: 0 10px;
        height: 30px;
        line-height: 30px;
    }

    .layui-btn-disabled {
        background-color: #FBFBFB;
    }

    .menu-box {
        background-color: red;
    }

    .menu-box ul li {
        width: 30px;
        height: 30px;
        line-height: 30px;
        cursor: pointer;
        float: left;
        margin-left: 10px;
        text-align: center;
    }

    .menu-box ul li i {
        display: block;
        width: 30px;
        height: 30px;
        font-size: 25px;
        color: #8a8a8a;
    }

    .menu-box ul li i:hover {
        -webkit-transition: all 220ms ease-in-out;
        -moz-transition: all 220ms ease-in-out;
        -o-transition: all 220ms ease-in-out;
        transition: all 220ms ease-in-out;
        color: #393D49;
    }

    .moveto-dir-list {
        width: 800px;
        height: 400px;
        overflow-x: hidden;
        overflow-y: auto;
    }

    .moveto-span {
        font-size: 14px;
        font-weight: 300;
    }
    
</style>
<{/block}>
<{block name="scriptCode"}>
<script>
    // 云盘列表数据
    var driverList;
    // 选择的云盘类型
    var selectDriveType;
    // 选择的云盘
    var selectDrive;
    // 正在编辑的文件名
    var editFileName;
    var oldFileName;
    // 正在编辑的文件是否是文件夹
    var editDir;
    var editRow;
    var editType;
    var pathArray = [""];
    var movetoPathArray = [""];
    var movetoDriverType;
    var movetoDriver;
    var selectTreeDom;
    $(document).ready(function () {
        // 设置边栏服务器信息选中状态
        $("#file_manager").addClass("active");

        // 监听select选择变化
        layui.use(['form','element'],function () {
            var form = layui.form,
                element = layui.element;;

            // 监听云盘类型选择
            form.on('select(drive-type-list)', function(data){
                // 选择的云盘类型
                selectDriveType = data.value;
                // 刷新云盘列表
                createDriverSelectDoms();
            });

            // 监听云盘选择
            form.on('select(drive-list)', function(data){
                // 选择的云盘
                selectDrive = data.value;
                // 目录回到根目录
                pathArray = [""];
                // 刷新列表
                loadFileList();
            });

            // 监听要移动到的云盘类型选择
            form.on('select(moveto-drive-type-list)', function(data){
                // 选择的云盘类型
                movetoDriverType = data.value;
                // 刷新云盘列表
                createMovetiDriverSelectDoms();
            });

            // 监听要移动到的云盘选择
            form.on('select(moveto-drive-list)', function(data){
                // 选择的云盘
                movetoDriver = data.value;
                // 目录回到根目录
                movetoPathArray = [""];
                // 刷新目录树列表
                loadDriverDirList();
            });
        });

        // 请求云盘列表
        loadDriverList();
    });

    // 请求云盘列表
    function loadDriverList() {
        var url = "?m=admin&c=API_FileManager&a=loadDriverList&API=";
        showHud();
        get(url,function (data) {
            driverList = data.data;

            // 默认选择的云盘类型
            var driveTypes = Object.keys(driverList);
            if (driveTypes.length > 0){
                selectDriveType = driveTypes[0];
                movetoDriverType = selectDriveType;
            }

            // 默认选择的云盘
            if (selectDriveType.length > 0){
                selectDrive = driverList[selectDriveType][0];
                movetoDriver = selectDrive;
            }

            // 创建云盘类型选择列表
            createDriverTypeSelectDoms();
            // 创建云盘选择列表
            createDriverSelectDoms();
            // 请求文件列表
            loadFileList(false);
        },false);
    }

    // 创建云盘类型选择列表
    function createDriverTypeSelectDoms() {
        var dom = '<option value="">选择云盘类型</option>';
        var driverTypes = Object.keys(driverList);

        for(var i = 0; i < driverTypes.length; i++){
            var driverT = driverTypes[i];
            if (selectDriveType == driverT){
                dom += '<option selected="selected" value="'+ driverT +'">'+ driverT +'</option>';
            }else {
                dom += '<option value="'+ driverT +'">'+ driverT +'</option>';
            }
        }

        layui.use('form',function () {
            var form = layui.form;
            $("#drive_type_select").html(dom);
            $("#moveto_drive_type_select").html(dom);
            form.render();
        });
    }

    // 创建云盘选择列表
    function createDriverSelectDoms() {
        var dom = '<option value="">选择云盘</option>';
        if (selectDriveType.length > 0){
            var drives = driverList[selectDriveType];
            for(var i = 0; i < drives.length; i++){
                var driver = drives[i];
                if (selectDrive == driver){
                    dom += '<option selected="selected" value="'+ driver +'">'+ driver +'</option>';
                }else {
                    dom += '<option value="'+ driver +'">'+ driver +'</option>';
                }
            }
        }

        layui.use('form',function () {
            var form = layui.form;
            $("#drive_select").html(dom);
            $("#moveto_drive_select").html(dom);
            form.render();
        });
    }

    // 创建云盘选择列表
    function createMovetiDriverSelectDoms() {
        var dom = '<option value="">选择云盘</option>';
        if (movetoDriverType.length > 0){
            var drives = driverList[movetoDriverType];
            for(var i = 0; i < drives.length; i++){
                var driver = drives[i];
                if (movetoDriver == driver){
                    dom += '<option selected="selected" value="'+ driver +'">'+ driver +'</option>';
                }else {
                    dom += '<option value="'+ driver +'">'+ driver +'</option>';
                }
            }
        }

        layui.use('form',function () {
            var form = layui.form;
            $("#moveto_drive_select").html(dom);
            form.render();
        });
    }

    // 请求文件列表
    function loadFileList(withHud=true) {
        var url = "?m=admin&c=API_FileManager&a=loadFileList&API=&remoteName=" + selectDrive + "&path=" + getPathString();
        console.log("获取文件列表:" + url);
        get(url,function (data) {
            if (!withHud){
                hideHud();
            }
            var fileList = data.data;
            createFilesDoms(fileList);
        },withHud,false,500000);
    }
    
    // 创建文件列表
    function createFilesDoms(data) {
        var dom = "";
        for(var i = 0; i < data.length; i++){
            var file = data[i];
            var dirFlag = file['IsDir'] ? "1" : "0";
            var style = file['IsDir'] ? 'cursor: pointer' : 'cursor: default';
            dom += '<tr isDir="'+ dirFlag +'" fileName="'+ file["Name"] +'" ><td><i class="file-icon iconfont '+ file["icon"] +'"></i>';
            dom += '<div isDir="'+ dirFlag +'" fileName="'+ file["Name"] +'" onclick="openDir(this)" class="file-name" style="'+ style +'">'+ file["Name"] +'</div></td>';
            dom += '<td class="driver-size">'+ file["Size"] +'</td>';
            dom += '<td class="file-count">'+ file["Count"] +'</td>';
            dom += '<td>'+ file["ModTime"] +'</td></tr>';
        }

        // 添加分类一行
        $("tbody").html(dom);
        // 绑定双击事件
        $('tr').dblclick(function () {
            openDir(this);
        });

        // 更新路径显示
        updatePathUI();

        // 添加右键菜单
        var menu_data=[
            {'type':1,'icon':'icon-yidong','title':'移动'},
            {'type':2,'icon':'icon-zhongmingming','title':'重命名'},
            {'type':3,'icon':'icon-xiazai','title':'下载'},
            {'type':4,'icon':'icon-xiangqing','title':'获取大小和文件数'},
            {'type':5,'icon':'icon-icon_del','title':'删除'},
        ];
        mouseRightMenuInit($(".layui-table tbody tr"),menu_data,function (menuData) {
            var opeType = menuData.type;
            switch (opeType) {
                case 1:
                    // 移动
                    loadDriverDirList(function () {
                        showEditCover(opeType);
                    });
                    break;
                case 2:
                    // 重命名
                    showEditCover(opeType);
                    break;
                case 3:
                    // 下载
                    showAlert("该功能暂不可用");
                    break;
                case 4:
                    // 获取大小和文件数
                    loadDriverInfo();
                    break;
                case 5:
                    // 删除
                    deleteFile();
                    break;
            }
        },function (obj) {
            editRow = obj;
            editFileName = obj.attr("fileName");
            editDir = obj.attr("isDir");
        });
    }

    // 打开目录
    function openDir(obj) {
        var $this = $(obj);
        var isDir = $this.attr("isDir") == '1' ? true : false;
        if (!isDir) return;
        var dirName = $this.attr('fileName');
        // 目录名进栈
        pathArray.push(dirName);
        // 刷新文件列表
        loadFileList();
    }
    
    // 返回上一级目录
    function backLastDir() {
        if (pathArray.length == 1) return;
        // 目录名出栈
        pathArray.pop();
        // 刷新文件列表
        loadFileList();
    }

    // 返回到指定文件夹下
    function pathDirClicked(obj) {
        var $this = $(obj);
        var dirIndex = parseInt($this.attr('dirIndex'));

        if (dirIndex == 0){
            // 回到根目录
            pathArray = [""];
        }else {
            var newPathArray = [""];
            for (var i = 1; i <= dirIndex; i++){
                var p = pathArray[i];
                newPathArray.push(p);
            }
            pathArray = newPathArray;
        }

        // 刷新文件列表
        loadFileList();
    }

    // 更新路径显示
    function updatePathUI() {
        // 判断返回上一级目录是否可以点击
        var canBack = pathArray.length >= 2 ? true : false;
        var $backBtn = $(".back-btn");
        if (canBack){
            // 可以返回
            $backBtn.removeClass("layui-btn-disabled");
        }else {
            // 不可以返回
            $backBtn.addClass("layui-btn-disabled");
        }
        // 创建路径显示dom
        var dom = "";
        for (var i = 0; i < pathArray.length; i ++){
            var path = pathArray[i];
            if (i == 0 && path == ""){
                path = "根目录";
            }

            if (i == pathArray.length - 1){
                // 最后一个
                dom += '<a dirIndex="'+ i +'" href="javascript:;" onclick="pathDirClicked(this)"><cite>'+ path +'</cite></a>';
            }else {
                // 不是最后一个
                dom += '<a dirIndex="'+ i +'" href="javascript:;" onclick="pathDirClicked(this)">'+ path +'</a>';
                dom += '<span lay-separator="">/</span>';
            }
        }

        $(".layui-breadcrumb").html(dom);
    }

    // 获取目录路径
    function getPathString(array=pathArray) {
        return array.join("/") + "/";
    }
    
    // 新建文件夹
    function createNewDir() {
        showEditCover(0);
    }

    // 新建文件夹网络请求
    function createNewDirRequest(dirName) {
        var url = baseUrl + "?m=admin&c=API_FileManager&a=createNewDir&driverName=" + selectDrive + "&API=&path=" + getPathString() + "&dirName=" + dirName;
        get(url,function () {
            // 刷新列表
            loadFileList();
        },true,true);
    }

    // 重命名
    function renameFile(name) {
        var url = baseUrl + "?m=admin&c=API_FileManager&a=renameFile&driverName=" + selectDrive + "&API=&path=" + getPathString() + "&oldName=" + oldFileName + "&newName=" + name;
        console.log("文件重命名:" + url);
        get(url,function () {
            // 刷新列表
            loadFileList();
        },true,true);
    }

    // 删除文件
    function deleteFile() {
        confirmAlert(function () {
            var url = baseUrl + "?m=admin&c=API_FileManager&a=deleteFile&remoteName=" + selectDrive + "&API=&path=" + getPathString() + editFileName + "&isDir=" + editDir;
            get(url,function () {
                // 刷新列表
                loadFileList();
            },true,true);
        });
    }

    // 获取文件大小和文件数量
    function loadDriverInfo() {
        var url = baseUrl + "?m=admin&c=API_FileManager&a=loadFileDetailInfo&driverName=" + selectDrive + "&API=&path=" + getPathString() + editFileName;
        console.log("获取文件详情：" + url);
        get(url,function (data) {
            var info = data.data;
            var size = info["size"];
            var count = info["count"];
            editRow.find(".driver-size").text(size);
            editRow.find(".file-count").text(count);
        });
    }

    // 显示编辑界面
    function showEditCover(type) {
        editType = type;
        var area = ['450px','200px'];
        var $input = $("#new_name_input");
        var offset = '200px';
        $(".moveto-box").css("display",'none');
        switch (type) {
            case 0:
                // 新建文件夹
                $("#legend_title").text("新建文件夹");
                $input.css("display","block");
                $(".add-category-container").css("height","180px");
                $input.attr("placeholder","输入文件夹名称");
                break;
            case 1:
                // 移动文件/文件夹
                $input.css("display","none");
                $("#legend_title").text("移动至");
                $(".add-category-container").css("width","800px");
                $(".add-category-container").css("height","600px");
                $(".layui-field-title").css('width','800px');
                area = ['820px','620px'];
                offset = '100px';
                $(".moveto-box").css("display",'block');
                break;
            case 2:
                // 重命名
                $("#legend_title").text("重命名");
                $input.css("display","block");
                $(".add-category-container").css("height","180px");
                // 显示原来的名字
                $input.val(editFileName);
                oldFileName = editFileName;
                break;
        }
        $(".add-category-container").css("display","block");
        layui.use('layer',function () {
            var layer = layui.layer;
            layerIndex = layer.open({
                type: 1,
                area:area,
                title: false,
                offset:offset,
                closeBtn: 0,
                shadeClose: true,
                content: $(".add-category-container"),
                success: function(){
                    if (type == 2 || type == 0){
                        // 自动获取焦点
                        $input.focus();
                        // // 文字被选中
                        $input.select();
                    }
                },
                end:function () {
                    $(".add-category-container").css("display","none");
                }
            });
        });
    }

    // 隐藏编辑界面
    function hideEditCover(){
        // 关闭浮层
        layui.use('layer', function() {
            var layer = layui.layer;
            layer.close(layerIndex);
        });
    }

    // 确认
    function confirm() {
        if (editType == 2){
            // 重命名
            var newName = $('#new_name_input').val();
            if (newName.length == 0){
                toast("名称不能为空");
            }else if(newName == oldFileName){
                toast("请输入不同的名称");
            }else {
                renameFile(newName);
                hideEditCover();
            }
        }else if(editType == 0) {
            // 新建文件夹
            var dirName = $('#new_name_input').val();
            if (dirName.length == 0){
                toast("名称不能为空");
            }else {
                createNewDirRequest(dirName);
                hideEditCover();
            }
        }
    }

    // 取消
    function cancel() {
        hideEditCover();
    }
    
    function createTest() {
        showEditCover(1);
    }

    // 请求云盘文件夹列表,用于移动文件时选择
    function loadDriverDirList(success=null) {
        $("#moveto_drive").text(movetoDriver+":");
        var url = "?m=admin&c=API_FileManager&a=loadDriveDirList&API=&remoteName=" + movetoDriver;
        console.log("请求目录树:" + url);
        get(url,function (data) {
            // 创建目录树
            createTreeDirDom(data.data);
            if (success){
                success();
            }
        });
    }

    // 创建树形文件夹列表，用于移动文件是选择
    function createTreeDirDom(data) {
        layui.use(['tree', 'util'], function(){
            var tree = layui.tree
                ,layer = layui.layer
                ,util = layui.util;

            tree.render({
                elem: '#moveto_dir_list'
                ,data: data
                ,accordion: true,
                click:function (obj) {
                    // if (selectTreeDom){
                    //     selectTreeDom.removeClass("custom-tree-item-clicked");
                    // }
                    // var $this = $(obj.elem);
                    // selectTreeDom = $this.find('.layui-tree-entry .layui-tree-main span.layui-tree-txt');;
                    console.log(obj.data);
                    console.log(obj.elem);
                }
            });
        });
    }
    
</script>
<{/block}>
<{block name="content"}>
<div class="aw-content-wrap">
    <div class="mod">
        <div class="drive-select-box">
            <form class="layui-form layui-form-pane" action="">
                <div class="layui-form-item select-box">
                    <select id="drive_type_select" lay-filter="drive-type-list">
                        <option value="">选择云盘类型</option>
                    </select>
                    <select id="drive_select" lay-filter="drive-list">
                        <option value="">选择云盘</option>
                    </select>
                    <button onclick="backLastDir()" type="button" class="layui-btn back-btn layui-btn-disabled"><i class="layui-icon layui-icon-return"></i></button>
                    <span class="layui-breadcrumb">
                    </span>
                </div>
            </form>
        </div>
        <div class="menu-box">
            <ul>
                <li>
                    <i onclick="createNewDir()" title="新建文件夹" class="iconfont icon-wenjian"></i>
                </li>
                <li>
                    <i onclick="createTest()" title="新建文件夹" class="iconfont icon-wenjian"></i>
                </li>
            </ul>
        </div>
        <div class="layui-form" style="text-align: center;">
            <table class="layui-table" lay-skin="nob">
                <colgroup>
                    <col width="150">
                    <col width="150">
                    <col width="150">
                    <col width="200">
                </colgroup>
                <thead>
                <tr>
                    <th>名称</th>
                    <th>大小</th>
                    <th>文件数</th>
                    <th>上次修改时间</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!--浮层弹窗-->
<div class="add-category-container">
    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
        <legend id="legend_title">重命名</legend>
    </fieldset>
    <input id="new_name_input" type="text" lay-verify="required" placeholder="请输入名称" autocomplete="off" class="layui-input">

    <div class="moveto-box">
        <form class="layui-form layui-form-pane" action="">
            <div class="layui-form-item select-box">
                <select id="moveto_drive_type_select" lay-filter="moveto-drive-type-list">
                    <option value="">选择云盘类型</option>
                </select>
                <select id="moveto_drive_select" lay-filter="moveto-drive-list">
                    <option value="">选择云盘</option>
                </select>
                <span class="moveto-drive moveto-span" id="moveto_drive"></span>
                <span class="moveto-path moveto-span" id="moveto_path"></span>
            </div>
        </form>
        <div id="moveto_dir_list" class="moveto-dir-list">
        </div>
    </div>
    <!--确定/取消按钮-->
    <div class="btns-box">
        <button onclick="cancel()" type="button" class="layui-btn layui-btn-primary">取消</button>
        <button onclick="confirm()" type="button" class="layui-btn confirm-btn">确认</button>
    </div>
    <!--选择图片上传-->
    <input type="file" name="file" id="file_select_input" style="display:none">
</div>

<{/block}>
