<{extends file="layout.html"}>
<{block name="myStyles"}>
<style type="text/css">
    .aw-content-wrap .icon {
        background-color: #393D49;
        margin-right: 10px;
    }

    .layui-table thead th{
        background: rgba(57,61,73,0.7);
        color: #ffffff;
        font-weight: bold;
    }

    .layui-table tbody tr{
        text-align: left;
    }

    .layui-form-select dl dd.layui-this {
        background-color: #393D49;
    }

    .select-box .layui-form-select {
        width: 150px;
        display: inline-block;
    }


</style>
<{/block}>
<{block name="scriptCode"}>
<script>
    $(document).ready(function () {
        // 设置边栏服务器信息选中状态
        $("#file_manager").addClass("active");

        // 请求云盘列表
        loadDriverList();
    });

    // 请求云盘列表
    function loadDriverList() {
        var url = "?m=admin&c=API_MyDriver&a=loadDriverList&API=";
        get(url,function (data) {
            // 创建云盘列表
            createDriverDoms(data.data);
        });
    }

    // 创建云盘列表
    function createDriverDoms(data) {
        var dom = "";
        for(var i = 0; i < data.length; i++){
            var driver = data[i];
            dom += '<tr><td>'+ driver["name"] +'</td>';
            dom += '<td>'+ driver["type"] +'</td>';
            dom += '<td>--</td>';
            dom += '<td><i title="删除" driverName="'+ driver["name"] +'" onclick="deleteDriver(this)" style="cursor: pointer" class="icon icon-trash"></i></td></tr>';
        }

        // 添加分类一行
        $("tbody").html(dom);
    }

    // 删除云盘
    function deleteDriver(obj) {
        confirmAlert(function () {
            var $this = $(obj);
            var driveName = $this.attr("driverName");
            var url = baseUrl + "?m=admin&c=API_MyDriver&a=deleteDrive&name=" + driveName + "&API=";
            get(url,function () {
                // 刷新列表
                loadDriverList();
            },true,true);
        });
    }
</script>
<{/block}>
<{block name="content"}>
<div class="aw-content-wrap">
    <div class="mod">
        <div class="drive-select-box">
            <form class="layui-form layui-form-pane" action="">
                <div class="layui-form-item select-box">
                    <select id="drive_type_select" lay-filter="drive-type-list">
                        <option value="">选择云盘类型</option>
                    </select>
                    <select id="drive_select" lay-filter="drive-list">
                        <option value="">选择云盘</option>
                    </select>
                </div>
            </form>
        </div>
        <div class="layui-form" style="text-align: center;">
            <table class="layui-table" lay-skin="nob">
                <colgroup>
                    <col width="150">
                    <col width="150">
                    <col width="200">
                    <col width="100">
                </colgroup>
                <thead>
                <tr>
                    <th>名称</th>
                    <th>大小</th>
                    <th>上次修改时间</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>
<{/block}>
