<{extends file="layout.html"}>
<{block name="myStyles"}>
<style type="text/css">
    .file-exten-info-title {
        width: 120px!important;
    }

    .layui-form-item .layui-input-inline{
        width: 60px;
    }

    .layui-form-onswitch {
        border-color: #393D49;
        background-color: #393D49;
    }

    .layui-form-mid {
        line-height: 30px;
    }

    .file-detail-des-box {
        display: inline-block;
        font-weight: 300;
        height: 36px;
        line-height: 36px;
    }

    .drive-dir-tree-cache-title {
        width: 160px!important;
    }

    .select-box {
        width: 800px;
        position: relative;
    }

    .select-box .layui-form-select {
        width: 150px;
        display: inline-block;
    }

    .layui-form-select dl dd.layui-this {
        background-color: #393D49;
    }

    .none-cache-tip {
        position: relative;
        left: 0;
        top: 0;
        width: 800px;
        height: 200px;
        line-height: 200px;
        font-size: 30px;
        font-weight: 300;
        color: #cccccc;
        text-align: center;
        display: none;
    }

    .update-cache-btn,.reset-cache-btn,.check-progress-btn {
        background-color: #393D49;
    }

    .layui-btn-disabled {
        background-color: #FBFBFB;
    }

    .add-category-container {
        width: 1200px;
        height: 600px;
        background-color: #FFF;
        padding: 10px;
        border-radius: 2px;
        position: relative;
        display: none;
    }

    .file-transfer-pro-box {
        width: 1200px;
        height: 520px;
        overflow-x: hidden;
        overflow-y: scroll;
    }

</style>
<{/block}>
<{block name="scriptCode"}>
<script>
    $(document).ready(function () {
        // 设置边栏服务器信息选中状态
        $("#setting").addClass("active");

        // 监听开关切换
        layui.use('form',function () {
            var form = layui.form;

            // 是否加载文件详情
            form.on('switch(load_file_detail_info_switch)', function (data) {
                var switchStatus = data.elem.checked;
                changeSwitchStatus(switchStatus,"load_file_detail_info");
            });

            // 是否使用gd-utils接口
            form.on('switch(use_gd_utils_API)', function (data) {
                var switchStatus = data.elem.checked;
                changeSwitchStatus(switchStatus,"useGdUtils");
            });
        });

        // 加载设置项
        loadSettingData();
    });

    // 加载设置项
    function loadSettingData() {
        var url = "?m=admin&c=API_Setting&a=loadSetting&API=";
        get(url,function (data) {
            var settingData = data.data;
            // 设置页面按钮开关
            for (var i = 0; i < settingData.length; i++){
                var setData = settingData[i];
                var status = parseInt(setData.status);
                var flag = setData.flag;
                switch (flag) {
                    case "load_file_detail_info":
                        // 是否加载文件详情
                        var switcher = $("#load_file_detail_info_switch");
                        layui.use('form',function () {
                            var form = layui.form;
                            status == 0 ? switcher.removeAttr('checked') : switcher.attr('checked',"");
                            form.render();
                        });
                        break;
                    case "useGdUtils":
                        // 是否使用gd-utils接口
                        var switcher = $("#use_gd_utils_API");
                        layui.use('form',function () {
                            var form = layui.form;
                            status == 0 ? switcher.removeAttr('checked') : switcher.attr('checked',"");
                            form.render();
                        });
                        break;
                }
            }
        },false);
    }

    // 设置开关状态
    function changeSwitchStatus(status,flag) {
        var sta = status ? "1" : "0";
        var url = "?m=admin&c=API_Setting&a=changeSetting&API=&flag=" + flag + "&status=" + sta;
        get(url,function () {
            // 刷新设置页
            loadSettingData();
        },false);
    }

</script>
<{/block}>
<{block name="content"}>
<div class="aw-content-wrap">
    <form class="layui-form" action="">
        <div class="layui-form-item">
            <label class="layui-form-label file-exten-info-title">加载文件额外信息</label>
            <div class="layui-input-inline">
                <input id="load_file_detail_info_switch" type="checkbox" checked="" name="open" lay-skin="switch" lay-filter="load_file_detail_info_switch" lay-text="ON|OFF">
            </div>
            <div class="layui-form-mid layui-word-aux">加载云盘/文件列表时同时加载文件总大小和文件总数量，开启后列表加载速度慢</div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label file-exten-info-title">使用gd-utils接口</label>
            <div class="layui-input-inline">
                <input id="use_gd_utils_API" type="checkbox" checked="" name="open" lay-skin="switch" lay-filter="use_gd_utils_API" lay-text="ON|OFF">
            </div>
            <div class="layui-form-mid layui-word-aux">gd-utils接口只支持转存和计算文件大小功能</div>
        </div>
    </form>
</div>

<{/block}>
