<{extends file="layout.html"}>
<{block name="myStyles"}>
<style type="text/css">
    .layui-form-label {
        width: 200px!important;
    }
</style>
<{/block}>
<{block name="scriptCode"}>
<script>

</script>
<{/block}>
<{block name="content"}>
<div class="aw-content-wrap">
    <div class="mod">
        <form class="layui-form layui-form-pane" action="">
            <div class="layui-form-item" pane="">
                <label class="layui-form-label">加载文件额外信息</label>
                <div class="layui-input-block">
                    <input type="checkbox" checked="" name="open" lay-skin="switch" lay-filter="switchTest" title="开关">
                </div>
            </div>
        </form>
    </div>
</div>
<{/block}>
